.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  text-transform: none;
  word-wrap: break-word;
}

.reveal section img {
  border: 0;
  box-shadow: none;
}

.background-chart {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5;
}

.title-font-size-adjustment {
  font-size: 2em;
}
